# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment variables and secrets
.env

# IDE / Editor folders (Optional)
.vscode/
.idea/
